<html>
<head>
    Прошел все курсы на SkillBox. Продаю готовые домашние задания
</head>
<ul>
    <li>
        <p><a href="python_basic/">Python Basic</a></p>
    </li>
    <li>
        <p><a href="python_advanced/">Python Advanced</a></p>
    </li>
    <li>
        <p><a href="django/">Python-фреймворк Django</a></p>
    </li>
    <li>
        <p><a href="html/">Веб-верстка. Базовый уровень</a></p>
    </li>
    <li>
        <p><a href="mysql/">Язык запросов MySQL</a></p>
    </li>
</ul>

</html>