<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <p>
        <img src='./imeg/HTML.png'>
    </p>
<h1>
    Веб-верстка. Базовый уровень
</h1>
    <h2>
        Цена: 8$
    </h2>

        <h3>
            Готовые домашние задания по любому модулю из курса
            <a href="https://skillbox.ru/course/frontend-pro/">'Веб-верстка. Базовый уровень'</a>.<br>
            Цена за модуль. Обращаться на почту example@gmail.com
        </h3>

</body>
</html>